.Timeline {
    flex: 1 0 0px;
    width: 100%;
    align-self: center;
}

.timeline-inner {
    margin-top: 10px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-size: 13px;
}

.timeline-line {
    flex: 0 0 2px;
    background-color: #FFF;
}

.timeline-dategap {
    position: relative;
    flex: 0 0 60px;
    text-align: center;
}

.timeline-date {
    line-height: 20px;
    width: 60px;
    left: 0;
    position: absolute;
    padding-bottom: 4px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.timeline-date:first-of-type {
    border-top-color: #000;
}

.timeline-date:last-of-type {
    border-bottom-color: #000;
}

.timeline-arcgap {
    position: relative;
    flex: 0 1 150px;
    text-align: left;
}

.timeline-arc {
    line-height: 20px;
    width: calc(100% - 10px);
    padding: 0px 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    left: 0;
    position: absolute;
    overflow: hidden;
}